<div class="thin-stack content-hold-stack-element" 
     onmouseup="ToggleClass(this, 'content-hold-stack-element-active', 'content-hold-stack-element', ToggleMode.SINGLE, ToggleMode.MULTIPLE);
                UseContent('{loadContentName}');" >
    
    <!--<div class="content-stack-inner-bg" style="background-image: {background};"></div>-->

    <h3 class="content-stack-heading" >
        {title}
        <br />
    </h3>

    <div class="content-stack-discription-hold">
        <p class="thin-stack-discription content-stack-discription">
            <span class="content-stack-discription">
                    {subTitle}  
            </span>
        </p>
    </div>

    <div class="content-stack-body content-stack-body-blog">
        <p class="content-stack-body-hold">
            {body}
        </p>
    </div>

</div>
