<div class="thin-stack content-hold-stack-element" >
    
    <div class="link" 
         onmouseup="ToggleClass(this.parentNode, 'content-hold-stack-element-active', 'content-hold-stack-element', ToggleMode.SINGLE, ToggleMode.MULTIPLE);
                    UseContent('{loadContentName}');" >

        <div class="bg-overflow-hide thin-stack-bg-hide">
            <!-- div class="content-stack-inner-bg" style="background-image: {background};"></div> -->
            <div class="content-stack-inner-bg thin-stack-bg" style="background-image: {background};"></div>
        </div>

        <h3 class="content-stack-heading" >
            {title}
            <br />
        </h3>
    </div>

    <div class="content-stack-discription-hold">
        <p class="thin-stack-discription content-stack-discription">
            <span class="content-stack-discription">
                    {subTitle}  
            </span>
        </p>
    </div>

    <div class="content-stack-body content-stack-body-blog">
        <p class="content-stack-body-hold">
            {body}
        </p>
    </div>

</div>
