<div id="error-hold" class="static">

    <h3 class="error">
        An Error Has Occurred Loading The Content From {url}
    </h3>
    <p class="error">
        Error Code: {code}
        Reason: {message}
    </p>
    <p class="error-more">
        If the issue continues please open a ticket on 
        <a href="https://github.com/Ashley-Sands/ashley-sands.github.io/issues" >GitHub</a>
        Or 
        <a href="mailto:{adminEmail}?subject=Error:{code}&body=An Error Has Occurred Loading The Content From {url}">
            Send us an email
        </a>
    </p>
    <p>
        Sorry for the inconvenience.
    </p>
    <a>[X] Close</a>
</div>