<div class="git-element" onmouseup="ToggleClass(this, 'git-element-active', 'git-element', ToggleMode.SINGLE, ToggleMode.MULTIPLE);" >
    
    <div class="git-inner-bg" style="background-image: {background};"></div>

    <h3 class="git-heading" >
        {project_name}
        <a href="{url}" class="git-link" target="_blank"><img src="./includes/images/GitHub-Mark-Dark.png" width="24px" class="git-link" /></a>
    </h3>

    <div class="git-discription-hold">
        <p class="git-discription">
            <span class="git-discription">
                    {discription}  
            </span>
        </p>
    </div>

</div>
