<div id="git-element">
    
    <h3 class="center-auto-margin git-project-header">
        <span class="git-heading git-size">
        {project_name}
        <a href="{url}" class="git-link"><img src="./includes/images/GitHub-Mark-Dark.png" width="24px" class="git-link" /></a>
        </span>
    </h3>

    <p class="git-sub-discription center">
        <span class="git-sub-discription git-size">

                {discription}
                <span class="space"></span>
                <span class="expand-handle">
                    More...
                </span>   
        </span>    
    </p>
        
</div>
