@font-face{
    font-family: amshw; src: url('../amshw.ttf');
}

p, h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
}

.mono-font{
    font-family: 'Courier New', Courier, monospace;
}

p{
    margin-top: 3px;
    margin-bottom: 3px;
}

p, a{
    font-size: 16px;
    letter-spacing: 1px;
}

.inline{
    display: inline;
}

.center{
    text-align: center;
}

.center-auto-margin{
    text-align: center;
    margin: auto;
}

.hand-writing{
    font-family: amshw, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
}

p.hand-writing{
    font-size: 18px;
}

p.last-updated{
    margin-top: 8px;
    font-size: 10px;
}

